# Index <a class="anchor" id="00.i"></a>

* [Exercise 1](#00.1)
* [Exercise 2](#00.2)
* [Exercise 3](#00.3)
* [Exercise 4](#00.4)
* [Exercise 5](#00.5)
* [Exercise 6](#00.6)
* [Exercise 7](#00.7)
* [Exercise 8](#00.8)
* [Exercise 9](#00.9)

1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

## Exercise 1 <a class="anchor" id="00.1"></a>
* [Index](#00.i)

In [1]:
# a)
t1 = ()
for i in range(1,101):
    if i%3==0 and i%5!=0:
        print('Mickey')
        t1 = t1 + ('Mickey',)
    elif i%3!=0 and i%5==0:
        print('Mouse')
        t1 = t1 + ('Mouse',)
    elif i%3==0 and i%5==0:
        print('MickeyMouse')
        t1 = t1 + ('MickeyMouse',)
    else:
        print(i)
        t1 = t1 + (i,)

print(t1)


# b)
l = list(t1)
for i,s in enumerate(l,0):
    if s == 'Mickey':
        l[i] = 'Donald'
    elif s == 'Mouse':
        l[i] = 'Duck'
    elif s == 'MickeyMouse':
        l[i] = 'DonaldDuck'
    else:
        l[i] = i+1

t2 = tuple(l)
print(t2)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

## Exercise 2 <a class="anchor" id="00.2"></a>
* [Index](#00.i)

In [2]:
def swap_f_temp(x,y):
    temp = x
    x = y
    y = temp
    return x,y

x = 2
y = 3

x,y = swap_f_temp(x,y)
print('x =',x)
print('y =',y)

x = 3
y = 2

In [3]:
def swap_f(x,y):
    x, y = y, x
    return x,y

x = 3
y = 2

x,y = swap_f(x,y)
print('x =',x)
print('y =',y)

x = 2
y = 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

## Exercise 3 <a class="anchor" id="00.3"></a>
* [Index](#00.i)

In [4]:
from math import sqrt

def e_distance(u,v):
    sum = 0
    for u_i,v_i in zip(u,v):
        sum += (u_i-v_i)**2
    return sqrt(sum)

u = (3,0)
v = (0,4)

d = e_distance(u,v)
print('d =',d)

d = 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

## Exercise 4 <a class="anchor" id="00.4"></a>
* [Index](#00.i)

In [5]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

import string

chars = list(string.printable)
count = list()

for char in chars:
    if char not in string.ascii_uppercase:
        count = s.lower().count(char)
        print(char,': ',count,'times')

0 :  2 times
1 :  2 times
2 :  0 times
3 :  0 times
4 :  0 times
5 :  0 times
6 :  0 times
7 :  0 times
8 :  0 times
9 :  0 times
a :  7 times
b :  5 times
c :  3 times
d :  3 times
e :  22 times
f :  10 times
g :  1 times
h :  9 times
i :  14 times
j :  0 times
k :  2 times
l :  6 times
m :  12 times
n :  10 times
o :  13 times
p :  8 times
q :  0 times
r :  17 times
s :  9 times
t :  19 times
u :  9 times
v :  2 times
w :  2 times
x :  0 times
y :  2 times
z :  0 times
! :  0 times
" :  0 times
# :  0 times
$ :  0 times
% :  0 times
& :  0 times
' :  0 times
( :  0 times
) :  0 times
* :  0 times
+ :  0 times
, :  0 times
- :  0 times
. :  2 times
/ :  0 times
: :  0 times
; :  0 times
< :  0 times
= :  0 times
> :  0 times
? :  0 times
@ :  0 times
[ :  0 times
\ :  0 times
] :  0 times
^ :  0 times
_ :  0 times
` :  0 times
{ :  0 times
| :  0 times
} :  0 times
~ :  0 times
  :  41 times
	 :  0 times

 :  0 times
 :  0 times
 :  0 times
 :  0 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

## Exercise 5 <a class="anchor" id="00.5"></a>
* [Index](#00.i)

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [7]:
def unique(l):
    unique_list = []
    count = 0
    for i in l:
        if l.count(i)==1:
            count += 1
            unique_list.append(i)
    
    return count, unique_list

print('unique numbers:', unique(l)[1])
print('#unique numbers:', unique(l)[0])

unique numbers: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
#unique numbers: 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

## Exercise 6 <a class="anchor" id="00.6"></a>
* [Index](#00.i)

In [8]:
def square(x):
    return x**2

def cube(x):
    return x**3

def power6(x):
    return square(cube(x))

x = 2.0
print('x^2 =',square(x))
print('x^3 =',cube(x))
print('x^6 =',power6(x))

x^2 = 4.0
x^3 = 8.0
x^6 = 64.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

## Exercise 7 <a class="anchor" id="00.7"></a>
* [Index](#00.i)

In [9]:
l_cubes = []
for i in range(11):
    l_cubes.append(i**3)

c_cubes = [i**3 for i in range(11)]

print(l_cubes)
print(c_cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

## Exercise 8 <a class="anchor" id="00.8"></a>
* [Index](#00.i)

In [10]:
l = [(a,b,c) for a in range(1,100) for b in range(1,100) for c in range(1,100) if a**2 + b**2 == c**2]
print(l)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

## Exercise 9 <a class="anchor" id="00.9"></a>
* [Index](#00.i)

In [11]:
from math import sqrt

def normalization(t):
    sum2 = 0
    for i in t:
        sum2 += i**2
    
    t_normalized = ()
    for i in t:
        t_normalized += (i/sqrt(sum2),)
    
    return t_normalized


t = (3,3,3)
normalization(t)

(0.5773502691896257, 0.5773502691896257, 0.5773502691896257)